{% extends "layout.html" %} {% block content %}
<h3>
  {{page.title}}<small>
    (<a href="/search/{{page.urlTitle}}/similar">Similar</a>)</small
  >
</h3>
<h4>by <a href="/users/{{user.id}}">{{user.firstName}}</a></h4>
<div>
  <h4>Tags</h4>
  <ul class="list-unstyled">
    <ul>
      {% for tag in tags %}

      <li><a href="/search/{{tag.name}}">{{tag.name}}</a></li>

      {% endfor %}
    </ul>
  </ul>
</div>
<hr />
<div><a href="/users/{{user.id}}">{{user.firstName}}</a></div>
<div class="page-body">{{page.content}}</div>
<hr />
<a href="/wiki/{{page.urlTitle}}/edit" class="btn btn-primary"
  >edit this page</a
>
<a href="/wiki/{{page.urlTitle}}/delete" class="btn btn-danger"
  >delete this page</a
>

{% endblock %}
